#header {
	top:0px;
	margin: 0px;
	padding: 0px;
}
.nav {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
li {
	float: left;
	border-right: 1px solid #bbb;
}
li a {
	display: block;
    padding: 8px;
    background-color: #dddddd;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Garamond", serif;
    font-size: 36px
}
li a:hover {
    background-color: #ffd11a;
    text-decoration: none
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
 
.journals {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	left: 20px;
  }

#authorphoto {
	top: 450px;
	position: absolute;
	left: 650px;
	border: 5px solid #ffd11a;
}
#nonyellowphotos {
	top: 450px;
	position: absolute;
	right: 300px;
}

.box {
    width: 550px;
    padding: 10px;
    margin: 20px; 
	font-family: "Garamond", serif;
	color: #black;
    line-height: 1;
    text-align: left;
    left: 0px;
	top: 30px;
	position: relative;
	font-size: 24px;
	width: 550px;
    }

 .centerbox {
    width: 550px;
    padding: 0px;
    margin: 0px; 
	font-family: "Garamond", serif;
	color: #black;
    line-height: 1;
    text-align: center;
    left: 0px;
	top: 30px;
	position: relative;
	font-size: 24px;
    }

.gallery {
	width: 1000px;
    padding: 10px;
    margin: 20px; 
    left: 0px;
	top: 30px;
	position: relative;
}


	
