.nav {
	float: left;
    list-style: none;
	margin: 0px;
	padding: 0px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	background-color: #ddd;
}
.leftarrow {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	right: 0px;
}
.rightarrow {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	left: 0px;
}
.C1 {
	float:left;
	border: 10px solid black;
	margin:5px;
	padding-bottom:300px;
	padding:5px;
	padding:10px;
	background:white;
}
.C2 {
	float:left;
	border: 10px solid black;
	margin:5px;
	padding:5px;
	padding:10px;
	background:white;
}
.C3 {
	float:left;
	border: 10px solid black;
	margin:5px;
	padding:5px;
	padding:10px;
	background:white;
}
.contactform{
	font-family: 'Shadows Into Light', cursive;
  margin:left;
	background-color:white;
  position: left;
  width: 550px;
  height: 450px;
  font-size: 20px;
  font-style:oblique;
	line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #999;
}
input[type="text"] {
    width: 200px;
		background-color: #ddd;
}
textarea[name="VisitorComment"] {
	width: 200px;
	background-color: #ddd;
}
input[type="submit"] {
	font-family: 'News Cycle', sans-serif;
	width:20%;
}
ul.nav li a {
	list-style: none;
    display: block;
    background-color: none;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
	font-weight: bold;
	font-style: italic;
	float: left;
	border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    flex-grow: <3>;
    order: <1>;
}
ul.nav li a:hover {
    background-color: gray;
    text-decoration: none
}
ol.list li a {
	font-family: 'Shadows Into Light', cursive;
    background-color: none;
    color: black;
    text-decoration: none;
}
ol.list li a:hover {
    background-color: lightblue;
    text-decoration: none
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
.overall {
    position: relative;
    width: 100%;
}
.fadein {
	padding-top: 35%;
	position:relative;
	width:500px;
}
.fadein img {
	position:absolute;
	right:0;
	top:0;
}
.gallery {
	padding-left:2%;
}

#petition{
	font-family: 'Shadows Into Light', cursive;
  margin:auto;
	background-color:white;
  position: left;
  width: 550px;
  height: 450px;
  font-size: 20px;
  font-style:oblique;
	line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #999;
}
#phillyback{
	background-repeat: no-repeat;
	background-size: 100%;
}
#background{
	position: absolute;
	width: 100%;
}
#mail {
	padding-top: 30px;
	padding-left: 10px;

}
#p1 {
		margin:1%;
    float: left;
    top: 20px;
    left: 10px;
    width: 500px;
    color: black;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
}
#p2 {
		margin:1%;
    position: relative;
  	float: left;
    top: 0px;
    left: 10px;
    width: 330px;
    color: black;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
}
#p3 {
		margin:1%;
  	float: left;
    top: 20px;
    left: 15px;
    width: 200px;
    color: black;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
}
#contact {
	padding-left: 2%;
	font-family: 'News Cycle', sans-serif;
	font-weight:lighter;
}
#donate {
	float: right;
	padding-top: 50px;
	padding-right: 100px;
}
#logo{
	height: 100px;
	width: 260px;

}
#icons{
	background-color: #ddd;
	padding-top: 13px;
	padding-bottom: 5px;

}
#fade {
    opacity: .4;
    width: 100%;
}
#img {
	height: 600px;
	width: 1300px;
	position: absolute;
}
#container {
  	height: 600px;
	width: 1300px;
	margin: 20px auto;
	position: relative;
}
#leftholder {
  	height: 600px;
	width: 75px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#rightholder {
  	height: 600px;
	width: 75px;
	position: absolute;
	right: 0px;
	top: 0px;
}
#paragraph {
	padding-left: 2%;
	position: absolute;
    top: 200px;
    left: 10px;
    width: 50%;
    color: black;
    opacity: 1;
    background-color: none;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
}
#paragraphright {
	position: absolute;
    top: 20px;
    right: 10px;
    width: 50%;
    color: black;
    opacity: 1;
    background-color: none;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
}
#font {
	font-family: 'Shadows Into Light', cursive;
}
#pic {
	position: absolute;
    top: 75px;
    left: 0px;
    width: 40%;
    border: 10px solid black;
}
#myDivred1 {
      position: absolute;
      top: 300px;
      left: 25px;
      background-color: red;
      width: 20%;
      height: 8%;
      border-radius: 25px 0px 0px 25px;
}
#therm {
    position: absolute;
    top: 300px;
    left: 25px;
    width: 80%;
    height: 8%;
    background-color: gray;
    border-radius: 25px;
}
#countdown-wrap {
  width: 100%;
  height: 200px;
  font-family: 'News Cycle', sans-serif;
  margin: 0px;
  padding: 0px;
  line-height: 20px
}

#goal {
  font-size: 26px;
  font-family: 'Shadows Into Light', cursive;
  text-align: right;
  width: 80%;
  padding: 0px;
  @media only screen and (max-width : 640px) {
    text-align: center;
  }
}

.goal-stat {
  float: left;
  width: 20%;
  height: 30px;
  margin: 0px;
  padding: 30px;
  font-family: 'News Cycle', sans-serif;

  @media only screen and (max-width : 640px) {
    width: 40%;
    text-align: center;
  }
}

.goal-number, .goal-label {
  display: block;
}

.goal-number {
  font-weight: bold;
}
#money {
  font-family: 'News Cycle', sans-serif;
  font-size: 40px;
}
#most {
  width: 360px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 50px;
}
#vert {
  height: 240px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 50px;
}
#fontnow {
  font-family: 'Shadows Into Light', cursive;
  top: 100px;
  margin: 0px;
  padding: 30px;
  line-height: 20px
}
#volunteer {
  font-family: 'News Cycle', sans-serif;
  top: 200px;
  width: 70%;
  margin-left: 40px;
}
